:root {
    --highlight: lightsalmon;
    --dark-teal: #2ba089; /* darker-green */
    --light-blue: #e9f2f8; /* dark-green */
    --light-turquoise: #bae3df; /* light-green */
    --lighter-turquoise: #deedec;
    --turquoise: turquoise;
    --font-color: #384034;
    --white-like: #fcfcfc;
}

/* Override main theme color */
.wy-side-nav-search {
    background-color: var(--lighter-turquoise) !important;
}

.version {
    color: var(--highlight) !important;
}

.icon.icon-home {
    color: var(--highlight) !important;
}

/* Override link color */
.wy-menu .caption-text {
    color: var(--highlight) !important;
    background-color: var(--white-like);
    font-weight: bold;
    font-size: large;
}

.toctree-l1 {
    color: white
}

.wy-nav-side{
    background: var(--turquoise) !important;
}
.wy-nav-content-wrap{
    background: var(--light-turquoise) !important;
}

/* Override Note/Warning color */
.admonition-title{
    background: var(--dark-teal) !important;
    color: white !important;
}
.admonition{
    background: var(--light-turquoise) !important;
}
.highlight{
    background: white !important;
}