:root {
    --highlight: lightsalmon;
    --dark-teal: #2ba089; 
    --light-blue: #e9f2f8; 
    --light-turquoise: #bae3df; 
    --lighter-turquoise: #deedec;
    --turquoise: turquoise;
    --font-color: #2F2E2D;
    --white-like: #fcfcfc;
}

/* Override main theme color */
.wy-side-nav-search {
    background-color: var(--lighter-turquoise) !important;
}

.version {
    color: var(--highlight) !important;
}

.icon.icon-home {
    color: var(--highlight) !important;
}

/* Override link color */
.wy-menu .caption-text {
    color: var(--font-color) !important;
    font-weight: bold;
    font-size: large;
}

.wy-menu-vertical a {
    color: #747474
}

.reference-internal {
    color: #747474
}

.toctree-l1:hover{
    color: var(--highlight)
}

.wy-nav-side{
    background: var(--turquoise) !important;
}
.wy-nav-content-wrap{
    background: var(--light-turquoise) !important;
}

/* Override Note/Warning color */
.admonition-title{
    background: var(--dark-teal) !important;
    color: white !important;
}
.admonition{
    background: var(--light-turquoise) !important;
}
.highlight{
    background: white !important;
}